.contact {
    min-height: 80vh;
    margin-top: 20px;
    padding: 60px 4.8rem;
}
.contact h3 {
    font-size: 24px;
    text-align: center;
    font-weight: 450;
    width: fit-content;
    margin: 0 auto;
    color: rgba(1, 31, 87);
    letter-spacing: 2px;
    padding-bottom: .5rem;
    padding-inline: 1rem;
    border-bottom: 2px solid rgba(1, 31, 87);
}

.contact .subtitle {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: var(--p-color);
    padding-top: 1.5rem;
}

.contact .container {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    justify-content: space-between;
}

.contact .container .office {
    max-width: 400px;
    width: 100%;
    margin-top: 4rem;
}

.contact .container .office h2 {
    font-weight: 500;
    color: var(--heading-color);
    padding-bottom: 1rem;
}
.contact .container .office .address {
    display: flex;
    align-items: center;
    gap: 7px;
}
.contact .container .office .address .icon {
    color: rgba(1, 31, 87);
    font-weight: 800;
}
.contact .container .office .address p {
    color: var(--p-color);
    margin: .4rem 0;
    font-size: .9rem;
}
.contact .container .office p strong {
    font-weight: 500;
}
.contact .container .office p {
    font-size: .9rem;
    padding: .2rem 0 .2rem 0;
}
.contact .container .business {
    max-width: 50%;
    width: 100%;
    margin-top: 4rem;
}
.contact .container .business h2 {
    font-weight: 500;
    padding-bottom: 1rem;
    color: var(--heading-color);
}
.contact .container .business .flex {
    display: flex;
    align-items: center;
    gap: 7px;
    margin-top: .6rem;
}
.contact .container .business .flex .icon {
    color: rgba(1, 31, 87);
}
.contact .container .business .flex p {
    color: var(--p-color);
}

.contact .container .business .flex p span {
    color: var(--heading-color);
    font-weight: 600;
}

.contact .container .form {
    max-width: 50%;
    margin-top: 4rem;
    width: 100%;
}

.contact .container .form h2 {
    font-weight: 500;
    padding-bottom: 1rem;
    color: var(--heading-color);
}
.contact .container .form .input_container {
    max-width: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: .5rem;
}
.contact .container .form .input_container input {
    width: 50%;
    padding: .5rem .5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    transition: .2s ease;
    outline: none;
}
.contact .container .form .input_container input:focus {
    border-bottom-color: rgba(1, 31, 87);
    border-bottom: 2px solid;
}
.contact .container .form textarea {
    max-width: 100%;
    width: 100%;
    height: 150px;
    margin-top: .5rem;border: 1px solid #ccc;
    resize: none;
    outline: none;
    transition: .2s ease;
    padding: .5rem .5rem;
    font-size: 1rem;
}
.contact .container .form textarea:focus {
    border-bottom-color: rgba(1, 31, 87);
    border-bottom: 2px solid;
}
.contact .container .form button {
    display: block;
    margin-top: .6rem;
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background: rgba(1, 31, 87);
    color: #fff;
    font-size: 1rem;cursor: pointer;
}


@media (min-width:1600px){
    .contact{
        min-height: 60vh;
        
    }
    .contact .container {
        justify-content: space-between;
        padding-inline: 20rem;
    }
}

@media (max-width: 992px){
    .contact {
        padding-inline: 2rem;
    }
    .contact .container {
        flex-direction: column;
    }
    .contact .container .office {
        max-width: 100%;
        width: 100%;
    }
    .contact .container .form {
        max-width: 100%;
        width: 100%;
    }
    .contact .container .business {
        max-width: 100%;
        width: 100%;
    }
}

@media (max-width:600px){
    .contact {
        padding-inline: 1rem;
    }
    .contact .container {
        gap: 5px;
    }
    .contact .container .form .input_container input {
        width: 100%;
    }
    .contact .container .form .input_container {
        flex-direction: column;
    }
    .contact .subtitle {
        font-size: .9rem;
    }
    .contact .container .office h2 {
        font-size: .9rem;
    }
}

